/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gutenberg-game-day {
	background-color: #fff;
	min-height: 225px;
	border-top: 1px solid #01000d;
	max-width: 584px;
	width: 100%;
	margin: 0 auto;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	padding: 20px;
}

.answer-form {
	width: auto;

}

.hint {
	margin: 0px;
	padding: 0px;
	display: inline-grid;
	column-gap: 8px;
	grid-template-columns: repeat(1, auto);
	-webkit-box-pack: center;
	place-content: center;
	place-items: center;
	-webkit-box-align: center;
	height: 48px;
	padding-inline: 16px;
	padding-block: 12px;
	box-sizing: border-box;
	text-decoration: none;
	min-height: auto;
	overflow: hidden;
	border: 1px solid rgb(51, 51, 51);
	appearance: none;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 0px;
	color: rgb(51, 51, 51);
	cursor: pointer;
	min-width: 120px;
}

.answer-container {
	width: 100%;
	margin: 0 auto 8px;
	border: 1px solid #cccccc;
	border-radius: 0;
	background-color: transparent;
	color: #333333;
	min-height: 48px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
;
	text-overflow: ellipsis;
}

.answer {
	padding: 0px;
	display: inline-grid;
	column-gap: 8px;
	grid-template-columns: repeat(1, auto);
	-webkit-box-pack: center;
	place-content: center;
	place-items: center;
	-webkit-box-align: center;
	width: 100%;
	padding-inline: 16px;
	padding-block: 12px;
	box-sizing: border-box;
	text-decoration: none;
	min-height: 48px;
	min-width: auto;
	overflow: hidden;
	border: none;
	appearance: none;
	color: rgb(255, 255, 255);
	background-color: rgb(51, 51, 51);
	cursor: pointer;
	margin-bottom: 24px;
}

.question {
	font-family: Times Modern, Times Modern-fallback, serif;
	font-weight: 400;
	line-height: 1.125;
	font-size: 2.4000000000000004rem;
	letter-spacing: 0em;
	margin-bottom: 24px;
}

.button-container {
	display: flex;
	height: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.button-grid {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	column-gap: 24px;
}

.answer-input {
	width: 100%;
	min-height: 46px;
	border: none;
	outline: none;
	padding: 12px;
	box-sizing: border-box;
	background-color: transparent;
	font-family: Roboto, Roboto-fallback, sans-serif;
	font-size: 1.6rem;
	line-height: 1.8rem;
	font-weight: 500;
	letter-spacing: 0;

	::placeholder {
		opacity: 0.6;
	}
}

