/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-podcast {

}


.podcast-summary {  

  &:hover {
    outline: 1px solid #ccc;
    outline-offset: 4px;
    border-radius: 0.25rem;
  }
}