/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gutenberg-game-day {
	//background-color: #21759b;
	//color: #fff;
	//padding: 2px;
	//width: 100%;
	//height: 100%;
	//position: relative;
	//animation: crazyAnim 5s 2;
	//animation-direction: alternate;
}

//@keyframes crazyAnim {
//	0%   {background: red; left: 0px; top: 0px;}
//	25%  {background: yellow; left: 200px; top: 0px;}
//	50%  {background: blue; left: 200px; top: 200px;}
//	75%  {background: green; left: 0px; top: 200px;}
//	100% {background: red; left: 0px; top: 0px;}
//}
