* {
	font-family: 'Inter', sans-serif;
}
.fun-headline {
	font-family: 'Comic Sans MS', cursive, sans-serif;
}
.kicker {
	//display: inline-block;
	text-align: left;
	color: white;
	font-weight: bold;
	padding: 4px 8px;
	width: fit-content;
	text-transform: uppercase;
	animation: none !important;
}

.headline {
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	animation: none !important;
}

.subdeck {
	font-family: 'Inter', sans-serif;
	margin-top: 6px;
	color: #848484
}
