/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gameday {
	// background-color: #21759b;
	color: black;
	padding: 2px;
}

em {
	color: grey !important;
}
