.wp-block-create-block-funky-block {
	background-color: #21759b;
	color: #fff;
	padding: 2px;

	.kicker-text {
		max-width: 150px;
		font-size: 20px;
		padding: 10px;
		animation: bounce 1s infinite alternate;

	}

	@keyframes bounce {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(-10px);
		}
	}
}
