/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gutenberg-game-day {
	padding: 2rem 0;
}

.wp-block-create-block-gutenberg-game-day .gutenberg-game-day-richtext {
	padding: 0 2rem;
	font-family: system-ui;
	margin-bottom: -1rem;
}

.wp-block-create-block-gutenberg-game-day #gutenberg-game-day-kicker {
	display: inline;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	margin-left: 2rem;
	color: #fff;
	font-size: 1em;
	font-weight: 500;
}

.wp-block-create-block-gutenberg-game-day #gutenberg-game-day-headline {
	font-weight: 800;
	margin-top: 0.75rem;
}

.wp-block-create-block-gutenberg-game-day #gutenberg-game-day-subdeck {
	color: #777777;
}

.gutenberg-game-day-nineties-toggle {
	padding-left: 1.5rem;
	padding-top: 1rem;
}

.gutenberg-game-day-faces {
	display: none;
}




//====================== CSS FOR 90s MODE ======================



@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
}

@keyframes rock {
	0%, 100% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(10deg);
	}
}

@keyframes dvd-screensaver {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(100vw, 100vh);
	}
	100% {
		transform: translate(0, 0);
	}
}

.nineties-mode .wp-block-create-block-gutenberg-game-day #gutenberg-game-day-headline {
	animation: bounce 1s infinite;
}

.nineties-mode .gutenberg-game-day-faces-group {
	z-index: 10;
	width: 100%;

}

.nineties-mode .gutenberg-game-day-faces {
	position: relative;
	animation: rock 1s infinite;
	right: 0;
	display: inline;
}

