/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-plotpoint {
	border: 1px dotted #f00;
}
.blocks-graph__placeholder-form {
	display: block !important;
}
.blocks-graph__placeholder-form .blocks-table__placeholder-input {
	width: auto;
}
.blocks-graph__placeholder-form-submit{
	margin-top: 20px;
}
